<section id="education" class="full-height px-lg-5">
    <div class="container">

        <div class="row pb-4">
            <div class="col-lg-8">
                <h6>EDUCATION</h6>
                <h1 class="text-highlight">Education</h1>
            </div>
        </div>
        <div class="row gy-5">
            <div class="col-lg-6">
                <div class="row gy-4">

                    <div class="col-12">
                        <div class="bg-base p-4 rounded-2 shadow-effect">
                            <h4 class="text-highlight">WEB DEVELOPMENT BOOTCAMP LE WAGON</h4>
                            <p class="mb-2 text-300">Madrid Campus (October - December 2022)</p>
                            <p class="mb-0">WEB DEVELOPMENT BOOTCAMP at Le Wagon in Madrid. 9 weeks.</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-base p-4 rounded-2 shadow-effect">
                            <h4 class="text-highlight">BACHELOR'S DEGREE IN AUDIOVISUAL COMMUNICATION</h4>
                            <p class="mb-2 text-300">Madrid (CLASS 2001 - 2006)</p>
                            <p class="mb-0">
                                UNIVERSIDAD COMPLUTENSE DE MADRID(UCM)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row gy-4">
                    <div class="col-12">
                        <div class="bg-base p-4 rounded-2 shadow-effect">
                            <h4 class="text-highlight">MASTER IN MARKETING AND DIGITAL COMMUNICATION</h4>
                            <p class="mb-2 text-300">Madrid (January)</p>
                            <p class="mb-0">
                                IMF BUSINESS SCHOOL. MASTER in SEO, Social Media and Online Advertising.
                            </p>
                        </div>
                    </div>

                    <!-- <div class="col-12">
                        <div class="bg-base p-4 rounded-2 shadow-effect">
                            <h4 class="text-highlight">Applications developer</h4>
                            <p class=" mb-2">dec 2022</p>
                            <a href="http://www.sportsin.me"> http://www.sportsin.me</a>
                            <p class="mb-0">SportIn Deals can be easy. Athletes and Club Managers can find each other. A simpler way to post and find positions at sports.</p>
                            <p class="text-highlight">Technologies used: Ruby On Rails, PostgreSQL, JS, SCSS, HTML.</p>
                        </div> -->
                </div>
            </div>
        </div>
    </div>

    </div>
</section>
