<section id="home" class="px-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 full-height">
                <h1 class="display-4 fw-bold"><span class="text-highlight">Rubén</span><br>Sánchez Álvarez</h1><h2><span class="text-highlight">Full Stack Web Developer </span></h2>
                <p class="lead mt-2 mb-4">
                    Extremely motivated web developer.
                    Any occasion is good for developing my knowledge, growing and feeling expanded.
                </p>
                <div>
                    <i class="fa-brands fa-html5 skills"><span class="text-tech">HTML</span></i>
                    <i class="fa-brands fa-css3-alt skills"><span class="text-tech">CSS</span></i>
                    <i class="fa-brands fa-js skills"><span class="text-tech">JAVASCRIPT</span></i>
                    <i class="fa-brands fa-git skills"><span class="text-tech">GIT</span></i>
                    <i class="fa-brands fa-figma skills"><span class="text-tech">FIGMA</span></i>
                    <i class="fa-brands fa-bootstrap skills"><span class="text-tech">BOOTSTRAP</span></i>
                </div>
            </div>
        </div>
    </div>
</section>